#color_bars .no_text_bar {
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #4e4e50;
}

#color_bars .navigation_bars{
    background-color: #ece5d7;
    background-image: url(images/navigation_bar.png);
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 35px;
    padding-top: 30px;
}

.overall_style {
    background-image: url(images/bg-pattern.png);
    background-repeat: repeat;
}

.content_box {
    background-color: #f9f7f3;
    border-radius: 5px;
    width: 900px;
    position: relative;
    margin: auto;    
}

.centered_content {
    width: 900px;
    position: relative;
    margin: auto;
}

#main_content {
    color: #3c3c3c;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;

    padding: 18px;
}

/* Format header and paragraphs */
h1 {
    color: #58595b;
    font-family: Bitter, Cambria, serif;
    font-weight: bold;
}

h2 {
    color: #58595b;
    font-family: Bitter, Cambria, serif;
    font-weight: normal;
    border-bottom: 1px solid #e2e3e4;
}

h3 {
    color: #6d685b;
    font-family: Bitter, Cambria, serif;
    font-weight: normal;
    border-bottom: 1px solid #e2e3e4;
}

ul#horizontal-list {
    list-style: none;
    min-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #58595b;
    position: relative;
    margin: auto; 
    }
    
ul#horizontal-list li {
    display: inline;
}

/* visited link */
a {
    padding-right: 20px;
    font-family: Bitter;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
a:visited {
    color: #58595b;
  }
  
  /* mouse over link */
  a:hover {
    color: #2dafbc;
    text-shadow: 1px white;
  }
  
  /* selected link 
  a:active {
    color: none;
  }*/